.wheel{
    width: 55vw;
    height: 55vw;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    margin-left: 20px;
    max-width: 500px;
    max-height: 500px;
    animation: wheels 10s linear ;
}
.line{
    width: 50%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
    left:50%;
    transform-origin: 0% 0%;
}
.line:nth-of-type(2){
    transform: rotate(60deg);
}
.line:nth-of-type(3){
    transform: rotate(120deg);
}
.line:nth-of-type(4){
    transform: rotate(180deg);
}
.line:nth-of-type(5){
    transform: rotate(240deg);
}
.line:nth-of-type(6){
    transform: rotate(300deg);
}
.cabin{
    width: 20%;
    height: 20%;
    background-color: red;
    position: absolute;
    transform-origin: 50% 0;
    top:9%;
    left:16%;
    animation: cabins 10s linear ;
}
.cabin:nth-of-type(2){
    top:2;
    left:60%;
}
.cabin:nth-of-type(3){
    top:45%;
    left:91%;
}
.cabin:nth-of-type(4){
    top:90%;
    left:68%;
}
.cabin:nth-of-type(5){
    top:90%;
    left:17%;
}
.cabin:nth-of-type(6){
    top:45%;
    left:-12%;
}
@keyframes wheels{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes cabins{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
